<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>

<h1> Trails </h1>
<% @trails.each do |trail| %>
<p> <a href='/trails/<%=trail.id %>'><%= trail.name %> </a></p>
<% end %>
