<%= link_to 'Parks Index', '/parks/' %>
<%= link_to 'Trails Index', '/trails/' %>
<h1><%=@park.name%> Trails:</h1>
<% @trails.each do |trail| %>
<p><%= link_to trail.name, "/trails/#{trail.id}"%><p>
<% end %>
